@tailwind base;
@tailwind components;
@tailwind utilities;


.tiptap-editor blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1rem;
    font-style: italic; 
    margin: 1rem 0;
  }
  
  .tiptap-editor ul {
    list-style-type: disc;
    padding-left: 2rem;
  }
  
  .tiptap-editor ol {
    list-style-type: decimal;
    padding-left: 2rem;
  }
  

  .tiptap-editor h1 {
    font-size: 1.5rem; /* Example size */
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .tiptap-editor h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.75rem;
  }

  .tiptap-editor a {
    color: #0f7c54;
    text-decoration: underline;
  }
  

  